/* Old Branch */

body {
  font-family: Arial;
  margin: 0pt;
  padding: 10px;
  min-width: 650px;
}

/* #F0F1F3 */

a {
    color: White;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 64px;
}

a:hover {
    color: #fd367e;
    text-decoration: none;
}

.content {
    margin: auto;
    max-width: 1170px;
    padding: 15px;
}

header {
    height: 100px;
    width: 100%;
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
}

.logo {
    float: left;
}

.main-menu {
    float: right;
}

.main-menu li {
    display: inline;
    padding: 15px;
    text-transform: uppercase;
}

.main-title {
    color: White;
    height: 100vh;
    background-size: cover 100vh;
    background-image: url("img/img-jumbotron-bg.jpg");
    background-position: center;
    background-attachment: fixed;
    padding: 15px;
}

.main-title .content {
    max-width: 800px;
}

.event-date {
    text-align: center;
    font-size: 19px;
}

.main-title .lead {
    font-size: 19px;
    color: #D0D0D0;
    text-align: center;
}

.btn {
    width: 150px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-color: White;
    border-style: solid;
    margin: auto;
    display: block;
}

.btn:hover {
    border-color: #fd367e;
}

.about-event {
    display: flex;
}

h2 {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #0D1556;
}

figcaption {
    text-align: center;
}

h3 {
    text-transform: uppercase;
    color: #0d1556;
}

small {
    display: block;
    text-transform: uppercase;
    color: #505050;
}

#section-intro .lead {
    float: left;
    max-width: 819px;
    /* width: 70%; */
}

#section-intro .contact {
    float: left;
    min-width: 350px;
}

#section-intro address {
    font-style: normal;
    color: #505050;
}

#section-speaker {
    display: flex;
    background-color: #F0F1F3;
}

#section-speaker .thumbnail {
    margin: 0;
}

#section-pricing {
    background-color: #F0F1F3;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
